p {
    color: blue;
}

.box {
    width: 100px;
    height: 100px;

    padding: 10px;
    margin: 10px;

    display: inline-block;
    box-sizing: border-box;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.red {
    background: red; 
}

.yellow { 
    background: yellow; 
}

.js-btn-red {
    background-color: red;
    font-weight: bold;  
}

.js-btn-yellow {
    background-color: yellow; 
    font-weight: bold; 
}

.js-btn-green {
    background-color: green; 
    font-weight: bold; 
}

.js-btn-blue {
    background-color: blue; 
    font-weight: bold; 
    color: white; 
}